apiVersion: apps/v1
kind: Deployment
metadata:
  name: dd-app-api
  labels:
    app: dd-app-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dd-app-api
  template:
    metadata:
      labels:
        app: dd-app-api
    spec:
      containers:
        - name: dd-app-api
          image: "789250471796.dkr.ecr.ap-southeast-1.amazonaws.com/datadog-playground/app:latest"
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: NODE_ENV
              value: "development"
            - name: MONGODB_URI
              value: "mongodb://mongo-service:27017/product-service"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:3001"
            - name: JWT_SECRET
              value: "your-secret-key-change-in-production"
            - name: DD_SERVICE
              value: "product-service"
            - name: DD_ENV
              value: "development"
            - name: DD_VERSION
              value: "1.0.0"

