apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: "order-service:latest"
          imagePullPolicy: Never
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: NODE_ENV
              value: "development"
            - name: MONGODB_URI
              value: "mongodb://mongo-service:27017/order-service"
            - name: DD_SERVICE
              value: "order-service"
            - name: DD_ENV
              value: "development"
            - name: DD_VERSION
              value: "1.0.0"