apiVersion: apps/v1
kind: Deployment
metadata:
  name: dd-app-api
  labels:
    app: dd-app-api-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: dd-app-api
  template:
    metadata:
      labels:
        app: dd-app-api
    spec:
      containers:
        - name: dd-app-api
          image: "datadog-crud-api:latest"
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:3001"

